<mat-toolbar class="toolbar">
    <mat-toolbar-row style="background-color: #144b74">
        <mat-icon style="color: white; margin-left: 20vw;">people</mat-icon>
        <span style="color: white; font-size: 13px; margin-left: 1vw;">Add New Users</span>
    </mat-toolbar-row>
</mat-toolbar>
<hr style="margin-top: 4px; width: 107%; margin-left: -2vw;">
<div style="background-color: #d4d4d4; height: 2vw;">
    <span style="font-size: 13px; margin-left: 1vw; color: #385c7e;"> <b> Demographic Details </b></span>
</div>

<div class="card" style="margin-top: 2vw; box-shadow:1px 1px 30px rgb(213, 219, 221);height: 21vw;">

    <div class="input-icons">
        <label style="font-size: small; font-weight: bold; color: #356294; margin-left: 2vw; margin-top: 3vw;">Username:</label>
        &nbsp;&nbsp;
        <i class="fa fa-user icon"></i> &nbsp;
        <input class="input-field" type="text" placeholder="Enter username" style="border-color: rgb(175, 164, 164);">
    </div>

</div>

