#heading {
    color: white; 
    font-size: small;  
    margin-left: 43vw;
    margin-top: 1vw;
}

.link1 {
    color: white;
    font-size: small;
    margin-left: -53vw;
    margin-top: 14px;
    text-decoration: none;
}


.link2 {
    color: white;
    font-size: small;
    margin-left: 2vw;
    margin-top: 15px;
    text-decoration: none;
}
.link3 {
    color: white;
    font-size: small;
    margin-left: 3vw;
    margin-top: 15px;
    text-decoration: none;
}

.link4 {
    color: white;
    font-size: small;
    margin-left: 0vw;
    margin-top: 15px;
    text-decoration: none;
}

#side_button {
    margin-top: 1vw;
    border: none;
    
}


#btn1 {
    color: rgb(65, 67, 70); 
    margin-top: 2vw; 
    height: 52px; 
    border-color: #ffffff; 
    background-color: #f0f0f0; 
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

#btn2 {
    margin-top: 1vw; 
    height: 52px; 
    border-color: #ffffff; 
    background-color: #f2f2f2; 
    box-shadow: 80 10 30px rgb(255, 255, 255);
}

#btn3 {
    margin-top: 1vw; 
    height: 52px; 
    border-color: #ffffff; 
    background-color: #f2f2f2; 
    box-shadow: 0 0 30px rgb(255, 255, 255);
}
